form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    button {
        @apply text-accent font-bold mt-16 py-4 px-8 uppercase;

        &:hover {
            background: var(--neumorphism-hover);
        }

        &:nth-child(2) {
            @apply text-secondary;
        }
    }
}

label {
    @apply w-full font-display font-bold uppercase;

    span {
        @apply text-accent;
    }
}

input,
textarea {
    @apply bg-primary w-full py-4 mb-8;
    border: solid 1px #7174802e;
    border-radius: 10px;
    transition: all .5s ease-in-out;

    &:focus {
        border: solid 1px #717480;
        border-radius: 10px;
        outline: none;
    }
}
